/* CSS Document */
/* CSS Document */
*,:before,:after{ margin:0; padding:0; box-sizing:border-box;/*盒子模型的转换*/}
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,blockquote,fieldset,input,nav,header,aside,article,section,figure,figcaption,video,audio,p{ margin:0; padding:0; display:block;}

h1,h2,h3,h4,h5,h6,em,i,b{ font-size:100%; font-weight:normal; font-style:normal;}

ul,ol,li{ list-style:none;}

img{ border:0 none;/*解决低版本浏览器蓝框的问题*/ display:block;/*解决图片上下缝隙的问题*/}

table{ border-collapse:collapse;/*边线重叠*/ border-spacing:0;/*间距调为0*/}

input,select,textarea{outline:none; font-size:12px; font-family: Arial;}
:focus{outline:none;}

/*超链接的样式*/

a{text-decoration: none;color: #333;}	
a:link{text-decoration: none;color: #333;}
a:visited{text-decoration: none;color: #333;}
a:hover{color: #ff4040;text-decoration:underline;}
a:active{text-decoration: none;color: #333;}

/*清除浮动*/
.clear{ clear:both;}

.clearfix{ zoom:1;/*为了触发低版本浏览器的after属性*/}
.clearfix:after{ content:""; clear:both; display:block; height:0; line-height:0; visibility:hidden;}

/*版心及文本*/

.wrap{ width:1230px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}

body{ font-family:"微软雅黑", Arial; font-size:12px;background:#f3f5f6}


@font-face {
  font-family: 'iconfont';
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/*topbar style*/
#topbar{
	width:100%;
	height:32px;
	background:#f2f2f2;
	border-bottom: 1px solid #e0e0e0;
	}
	
#topbar .topbar{
	width:1230px;
	height:32px;
	line-height:32px;
	/* background:#0FC; */
	margin:0 auto;
	
	}	
#topbar .topbar .iconfont{
	color:#e50011;
	margin-right: 5px;
	font-size: 14px;
}
#topbar .topbar  i:nth-child(4){
	margin-top: 10px;
}
	

#topbar .topbar .hd_link{
	width:400px;
	
	/* background:#90C; */
	}
#topbar .topbar .hd_link ul{
	width:100%; height:32px;
	
	
	}
#topbar .topbar .hd_link ul li{
	float:left;
	padding:0 10px;
	
	}
	
#topbar .topbar .quick_menu{
	width:600px;
	height:32px;
	/* background:#90C; */
	
	}
#topbar .topbar .quick_menu	ul{
	 width:100%; height:32px;
	 
	}
#topbar .topbar .quick_menu	ul li{
	float:left;
	padding:0 10px;
	position:relative;/*参照物*/ 
	 /* border:1px solid transparent;  */
	 border-bottom:0 none;
	}
#topbar .topbar .quick_menu	ul li .submenu{
	width:100%;position: absolute;/*重要性*/ 
	top:32px; 
	left:-1px;
	border:1px solid #e5e5e5;
	border-top:0 none;
	 
	 background:#FFFFFF; 
	 box-sizing:content-box;/*注意*/ 
	 display:none;
	}


#topbar .topbar .quick_menu	ul li .submenu img{
	position: absolute;
	border:1px solid #e5e5e5;
	border-top: none;
	left: -15px;
}

#topbar .topbar .quick_menu ul  li .submenu_menu{
	width:316px;
	 min-height: 180px; 
	background: white;
	position: absolute;  
	overflow: hidden;
	display: none;
	 /* z-index: 100;  */
	

}
#topbar .topbar .quick_menu	ul li:hover{
	/* background:#FFF; */
	border:1px solid #e5e5e5; 
	border-bottom:0 none;
	z-index: 10;
	border: 0 none ;
	
	
	}
#topbar .topbar .quick_menu	ul li:nth-child(5):hover{
	 background:#FFF; 
}	
#topbar .topbar .quick_menu	ul li:nth-child(7):hover{
	 background:#FFF; 
}
#topbar .topbar .quick_menu	ul li:nth-child(7) i{
	 /* font-size: 18px; */
}		
#topbar .topbar .quick_menu	ul li:hover .submenu{
	display:block;
	
	
	
	}
#topbar .topbar .quick_menu	ul li:hover .submenu_menu{
	/* width:320px;
	height: 205px;
	 background: white; */
	   position: absolute;   
	 left: -227px; 
	
	display: block;
	border:1px solid #e5e5e5;
	border-top:0 none;
	
	 
	
}
#topbar .topbar .quick_menu	ul li .submenu_menu dl{
	 width: 320px; 
	 padding-top: 5px; 
	 /* background: green;  */
}
#topbar .topbar .quick_menu	ul li .submenu_menu dl dt{
width: 88px;
height: 30px;
display: inline-block;
font-weight: bold;
line-height: 30px;
/* border-right: 2px solid #888; */
 /* background: yellow;  */
text-align: right;
float: left;
/* margin-top: 2px; */
	
}
#topbar .topbar .quick_menu	ul li .submenu_menu dl dd{
	width: 230px;
	 height: 30px; 
	display: block;
	line-height: 30px;
	/* background: red;  */
	float: right
	

}
#topbar .topbar .quick_menu	ul li .submenu_menu dl dd a{
	padding: 0 10px;
}


#header{
	width: 100%;
	height: 130px;
	 background: white; 
}
#header .header{
	height: 130px;
/*	 background: wheat; 
*/}
/* #header .header h1{
	height: 302px;
	width: 130px;
	
} */
#header .header h1 a{
	display: block;
	
	height: 100%;
}
#header .header h1 a img{
	padding-top: 30px;
	
}

/*广告位  */

.topbanner{
	width: 100%;
	height: 82px;
	/* background: yellow; */
}
.topbanner .banner{
	position: relative;
	width:100%; height:100%;
	display: block;
	background: url(../images/head-adv2.jpg) no-repeat top center;
}
.topbanner .close{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: block;
	border: 1px solid red;
	border-radius:50%;
	color:#FFF;
	position: absolute;
	top:40px;
	right: 60px;
}


/*搜索框  */
#header .header .search{
	width: 600px;
	height: 130px;
/*	 background: yellow; 
*/	padding-left: 35px;
	padding-top: 10px;
	
}
#header .header .search .search_ipt{
	width: 500px;
	height:42px;
	/* background: blue; */
	margin-top: 30px;
	margin-left: 30px;
}
#header .header .search .search_ipt .input_txt{
	width: 441px;
	height: 36px;
	background: white;
	border:0 none;
	border: 2px solid #c60a0a;
	line-height: 36px;
	float: left;
	color: #a9a9a9;
	font-size: 14px;
	font-family:"微软雅黑", Arial;
	  padding-left:14px; 
	 
}
#header .header .search .search_ipt .input_btn{
	width: 59px;
	height: 36px;
	background: transparent;
	border: 0 none ;
	line-height: 36px;
	float:right; 
	color:#fff; 
	font-size:20px; 
	cursor:pointer;/*鼠标的指针*/
	float: left;
	background: #c60a0a;
}
#header .header .search .search_words{
	width: 500px;
	height: 24px;
	padding-left: 5px;
}
#header .header .search .search_words ul{
}

#header .header .search .search_words ul li a{
	
	float: left;font-size: 14px;
	color: 9f9f9f;
	margin-left: 25px;

}
#header .header .right{
	display: block;
	width: 164px;
	height: 108px;
	margin-top: 10px;
	margin-right: 50px;

}


/*尾部footer  */
.footer{
	width: 100%;
	/* height: 480px; */
	background: white;
	margin-top: 30px;
	border-top: 1px solid #d2d2d2;
}

/*尾部footer   top  */
.footer .footer_top{
	
	height: 138px;
	/* background: green; */
}
.footer .footer_top ul{
	width: 1230px;
	height: 138px;
	padding: 50px 0;
	/* margin: 0 auto; */
	

}
.footer .footer_top ul li{
	width: 239px;
	height: 40px;
	float: left;
	border-left:1px solid #d2d2d2;
	/* background: burlywood; */
	padding-left: 30px;
	}
.footer .footer_top ul li:first-child{
	border-left: none;
}

.footer .footer_top ul li span{
	
	width: 34px;
	height: 34px;
	display: inline-block;
	text-align: center;
	line-height: 34px;
	font-size: 20px;
	color: #e50011;
	float: left;
	border: 2px  solid #e50011;
	border-radius: 50%;
	vertical-align: top;
	margin-right: 10px;
}
.footer .footer_top ul li .text{
	
	/* background: gray; */
	display:block;
	
	
	}
.footer .footer_top ul li .text .p1{
	font-weight: bold;
	height: 16px;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
	overflow: hidden;
	
}
.footer .footer_top ul li .text .p2{
	height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #757575;
    overflow: hidden;
	margin-top: 6px;
	
}
/*尾部footer_nav   */

.footer .footer_nav{
	height: 163px;
	/* background: rebeccapurple; */
	border-top: 1px solid #d2d2d2;
	padding: 30px 0 20px 24px;
}
.footer .footer_nav .nav_items{
	width: 161px;
	height: 88px;
	float: left;
	/* background: red; */
	}
.footer .footer_nav .nav_items dt{
	height: 28px;
    line-height: 28px;
    font-size: 14px;
	overflow: hidden;
	color: #757575;
	
}
.footer .footer_nav .nav_items dd{
	width: 161px;
	height: 20px;color: #757575;
}
.footer .footer_nav .nav_items dd a{
	
}
/* 
.footer .footer-nav .col-contact{
	width: 270px;
    float: right;
	margin-right: 15px;
	background: red;
}

.footer .footer-nav .col-contact .til {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
	text-indent: 4px;
	
}
.footer .footer-nav .col-contact .qrcode dt {
    width: 84px;
    height: 84px;
    float: left;
    background: url(images/qrcode.png) no-repeat center;
    overflow: hidden;
}
.footer .footer-nav .col-contact .qrcode dd {
    width: 180px;
    line-height: 20px;
    float: right;
	font-family: "SimSun";
background-color: red;
} */


 .footer .footer_nav .nav_wx {
	width: 270px;
	/* height: 112px; */
	float: right;
	/* background: burlywood; */
	margin-right: 15px; 
	position: relative;
}	
	


.footer .footer_nav .nav_wx dt{
	width: 270px;
	height: 28px;
    line-height: 28px;
    font-size: 14px;
	overflow: hidden;
	color: #757575;
}
.footer .footer_nav .nav_wx p{
	width: 84px;
	height: 84px;
	background: url(../images/qrcode.png) no-repeat top center;	
	float: left;
	margin-left: -5px;
}
 .footer .footer_nav .nav_wx img{
	
	/* border: 1px solid red; */
}
.footer .footer_nav .nav_wx dd{
	width: 180px;
	height: 80px;
	line-height: 20px;
	/* background: blueviolet; */
	float: left;
	color: #757575;
	/* position: absolute; */
	
} 


/*底部链接link  */
.footer .footer_link{
	height: 113px;
	/* background: yellow; */
	padding: 20px 0;
	border-top: 1px  solid #d2d2d2;
}
.footer .footer_link p{
	text-align: center;
	color: #757575;
	line-height: 25px;
	/* background: red; */
	
}
.footer .footer_link p a{
	color: #757575;
}
/*底部  */
.footer .footer_buttom{
	height: 66px;
	
	
}
.footer .footer_buttom a{
	float: left;
	padding: 15px 0;
	padding-left: 14px;
}
